<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body> -->
         <!-- Implementing Partials :
             Header
        <%- include('header'); -%> -->

        <!-- linking home.css -->
        <link rel="stylesheet" href="/css/home.css">
        <h1>Codeial / <%= title %></h1>
        <!-- Footer -->
        <!-- <%- include('footer'); -%>
    </body>
</html> -->