<html>
    <head>
        <title>
            <%= title %>
        </title>
<!-- Linking Layout.css file -->
        <link rel="stylesheet" href="/css/layout.css">

    </head>
    <body>
        <!-- Implementing Partials : Header -->
        <%- include('header'); -%>
        
        <!-- body Contains the Variable Part -->
        <!-- body is the default given by the express-ejs-layouts -->
        <%- body %>
         

        <!-- Footer -->
        <%- include('footer'); -%>
    </body>
</html>