
<!-- heading -->
<h1>Sign Up Page</h1>

<!-- Form to collect info -->
<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="your Name" required>
    <input type="email" name="email" placeholder="your E-mail" required>
    <input type="password" name="password" placeholder="your Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign up">
</form>