<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body> -->
        <!-- Implementing Partials :
             Header -->
        <!-- <%- include('header'); -%> -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>Users / <%= title %></h1>  
        <!-- Footer -->
        <!-- <%- include('footer'); -%>
    </body>
</html> -->